(
    name: "English",
    interface: {
        AddWish: "Add wish",
        ManageTalismans: "Manage talismans",
        SearchBuilds: "Search builds",
        Female: "Female",
        Male: "Male",
        SkillFilter: "Skill filter",
        Remove: "Remove",
        Settings: "Settings",
        Helmet: "Helmet",
        Chest: "Chest",
        Arm: "Arms",
        Waist: "Waist",
        Leg: "Legs",
        Talisman: "Talisman",
        NoResult: "No result",
        WeaponSlots: "Weapon slots",
        AddTalisman: "Add talisman",
        Back: "Back",
        Edit: "Edit",
        AddSkill: "Add skill",
        Slots: "Slots",
        Cancel: "Cancel",
        Save: "Save",
        DiscardModifications: "Discard modifications",
        SaveToFile: "Save to file",
        TalismanName: "Talisman name",
        Defense: "Defense",
        Fire: "Fire",
        Water: "Water",
        Thunder: "Thunder",
        Ice: "Ice",
        Dragon: "Dragon",
        Free: "Free",
        RemoveTalisman: "Remove talisman",
        TemplateFreeSlot: "Free lvl {size} slot",
        TemplateJewelOnSlot: "{skill} on lvl {size} slot",
    },
    skills: {
        Botanist: "Botanist",
        DefenseBoost: "Defense Boost",
        ItemProlonger: "Item Prolonger",
        CriticalEye: "Critical Eye",
        Fortify: "Fortify",
        PoisonAttack: "Poison Attack",
        RecoilDown: "Recoil Down",
        QuickSheath: "Quick Sheath",
        FireAttack: "Fire Attack",
        IceAttack: "Ice Attack",
        WaterAttack: "Water Attack",
        ProtectivePolish: "Protective Polish",
        StaminaThief: "Stamina Thief",
        Partbreaker: "Partbreaker",
        Mushroomancer: "Mushroomancer",
        MaximumMight: "Maximum Might",
        MarathonRunner: "Marathon Runner",
        PeakPerformance: "Peak Performance",
        AttackBoost: "Attack Boost",
        OffensiveGuard: "Offensive Guard",
        Focus: "Focus",
        RecoveryUp: "Recovery Up",
        NormalRapidUp: "Normal/Rapid Up",
        SpeedEating: "Speed Eating",
        Windproof: "Windproof",
        Bludgeoner: "Bludgeoner",
        AffinitySliding: "Affinity Sliding",
        WideRange: "Wide-Range",
        StunResistance: "Stun Resistance",
        LoadShells: "Load Shells",
        ParalysisAttack: "Paralysis Attack",
        PierceUp: "Pierce Up",
        AimBooster: "Aim Booster",
        SleepAttack: "Sleep Attack",
        BlightResistance: "Blight Resistance",
        CriticalDraw: "Critical Draw",
        JumpMaster: "Jump Master",
        Constitution: "Constitution",
        FreeMeal: "Free Meal",
        GoodLuck: "Good Luck",
        RazorSharp: "Razor Sharp",
        SpareShot: "Spare Shot",
        WirebugWhisperer: "Wirebug Whisperer",
        Resentment: "Resentment",
        Handicraft: "Handicraft",
        FlinchFree: "Flinch Free",
        RapidMorph: "Rapid Morph",
        LatentPower: "Latent Power",
        WeaknessExploit: "Weakness Exploit",
        Resuscitate: "Resuscitate",
        EvadeWindow: "Evade Window",
        Slugger: "Slugger",
        SpecialAmmoBoost: "Special Ammo Boost",
        Agitator: "Agitator",
        DivineBlessing: "Divine Blessing",
        Geologist: "Geologist",
        HungerResistance: "Hunger Resistance",
        CriticalElement: "Critical Element",
        EvadeExtender: "Evade Extender",
        DragonAttack: "Dragon Attack",
        Heroics: "Heroics",
        SleepResistance: "Sleep Resistance",
        ParalysisResistance: "Paralysis Resistance",
        PoisonResistance: "Poison Resistance",
        WindAlignment: "Wind Alignment",
        SpreadUp: "Spread Up",
        ReloadSpeed: "Reload Speed",
        ThunderAlignment: "Thunder Alignment",
        Guard: "Guard",
        StaminaSurge: "Stamina Surge",
        Earplugs: "Earplugs",
        BowChargePlus: "Bow Charge Plus",
        BlastResistance: "Blast Resistance",
        AmmoUp: "Ammo Up",
        LeapofFaith: "Leap of Faith",
        DragonResistance: "Dragon Resistance",
        WaterResistance: "Water Resistance",
        RecoverySpeed: "Recovery Speed",
        SpeedSharpening: "Speed Sharpening",
        MuckResistance: "Muck Resistance",
        PowerProlonger: "Power Prolonger",
        TremorResistance: "Tremor Resistance",
        HellfireCloak: "Hellfire Cloak",
        BubblyDance: "Bubbly Dance",
        PunishingDraw: "Punishing Draw",
        WallRunner: "Wall Runner",
        GuardUp: "Guard Up",
        CriticalBoost: "Critical Boost",
        MindsEye: "Mind's Eye",
        BlastAttack: "Blast Attack",
        MasterMounter: "Master Mounter",
        Counterstrike: "Counterstrike",
        ThunderAttack: "Thunder Attack",
        Artillery: "Artillery",
        Bombardier: "Bombardier",
        CaptureMaster: "Capture Master",
        Diversion: "Diversion",
        FireResistance: "Fire Resistance",
        HornMaestro: "Horn Maestro",
        Ballistics: "Ballistics",
        KushalaBlessing: "Kushala Blessing",
        ChameleosBlessing: "Chameleos Blessing",
        TeostraBlessing: "Teostra Blessing",
        MastersTouch: "Master's Touch",
        RapidFireUp: "Rapid Fire Up",
        CarvingPro: "Carving Pro",
        Steadiness: "Steadiness"
    }
)