(
    name: "Français",
    interface: {
        AddWish: "Ajout souhait",
        ManageTalismans: "Gestion talismans",
        SearchBuilds: "Recherche",
        Female: "Femme",
        Male: "Homme",
        SkillFilter: "Filtrer les talents",
        Remove: "Suppr.",
        Settings: "Paramètres",
        Helmet: "Tête",
        Chest: "Torse",
        Arm: "Bras",
        Waist: "Taille",
        Leg: "Jambes",
        Talisman: "Talisman",
        NoResult: "Aucun résultat",
        WeaponSlots: "Fentes arme",
        AddTalisman: "Ajout talisman",
        Back: "Retour",
        Edit: "Modifier",
        AddSkill: "Ajout talent",
        Slots: "Fentes",
        Cancel: "Annuler",
        Save: "Sauvegarder",
        DiscardModifications: "Annuler les modifications",
        SaveToFile: "Enregistrer dans le fichier",
        TalismanName: "Talisman name",
        Defense: "Défense",
        Fire: "Feu",
        Water: "Eau",
        Thunder: "Foudre",
        Ice: "Glace",
        Dragon: "Dragon",
        Free: "Libre",
        RemoveTalisman: "Supprimer talisman",
        TemplateFreeSlot: "Fente libre nv {size}",
        TemplateJewelOnSlot: "{skill} fente nv {size}",
    },
    skills: {
        Botanist: "Botaniste",
        DefenseBoost: "Bastion",
        ItemProlonger: "Chimiste",
        CriticalEye: "Maître d'armes",
        Fortify: "Jamais vaincu",
        PoisonAttack: "Mort-aux-rats",
        RecoilDown: "Recul réduit",
        QuickSheath: "Rengainage éclair",
        FireAttack: "Pyromane",
        IceAttack: "Blizzard",
        WaterAttack: "Maelstrom",
        ProtectivePolish: "Acier trempé",
        StaminaThief: "Vol d'endurance",
        Partbreaker: "Destructeur",
        Mushroomancer: "Mycologue extrême",
        MaximumMight: "Corps et âme",
        MarathonRunner: "Marathonien",
        PeakPerformance: "Performance optimal",
        AttackBoost: "Machine de Guerre",
        OffensiveGuard: "Garde offensive",
        Focus: "Concentration",
        RecoveryUp: "Cercle de vie",
        NormalRapidUp: "Normale/Rapide +",
        SpeedEating: "Carnassier",
        Windproof: "Pare-vent",
        Bludgeoner: "Matraquage",
        AffinitySliding: "Roi de la glisse",
        WideRange: "Un pour tous",
        StunResistance: "Crâne d'acier",
        LoadShells: "Recharge chargée",
        ParalysisAttack: "Neutralisation",
        PierceUp: "Perforant +",
        AimBooster: "Amplificateur de visée",
        SleepAttack: "La nuit porte conseil",
        BlightResistance: "Totem élémentaire",
        CriticalDraw: "Dégainage éclair",
        JumpMaster: "Acrobate",
        Constitution: "Athlète",
        FreeMeal: "Pique-assiette",
        GoodLuck: "Chance",
        RazorSharp: "Samouraï",
        SpareShot: "Tir parcimonieux",
        WirebugWhisperer: "Dompteur de Filoptères",
        Resentment: "Vengeance",
        Handicraft: "Savoir-faire",
        FlinchFree: "Nerfs d'acier",
        RapidMorph: "Morphose rapide",
        LatentPower: "Force latente",
        WeaknessExploit: "Mise à mort",
        Resuscitate: "Esprit indomptable",
        EvadeWindow: "Invulnérabilité",
        Slugger: "Cogneur",
        SpecialAmmoBoost: "Salve mortelle",
        Agitator: "Témérité",
        DivineBlessing: "Bénédiction",
        Geologist: "Géologiste",
        HungerResistance: "Spartiate",
        CriticalElement: "Rage élémentaire",
        EvadeExtender: "Trompe-la-mort",
        DragonAttack: "Pourfendeur de dragon",
        Heroics: "Héroïsme",
        SleepResistance: "Insomnie",
        ParalysisResistance: "Antiparalysie",
        PoisonResistance: "Toxicologie",
        WindAlignment: "Alignement vent",
        SpreadUp: "Grenaille +",
        ReloadSpeed: "Vitesse de rechargement",
        ThunderAlignment: "Alignement tonnerre",
        Guard: "Paladin",
        StaminaSurge: "Métabolisme",
        Earplugs: "Bouchon d'oreilles",
        BowChargePlus: "Maître archer",
        BlastResistance: "Anti-explosion",
        AmmoUp: "Max de munitions",
        LeapofFaith: "Saut de la foi",
        DragonResistance: "Aura draconien",
        WaterResistance: "Étanchéité",
        RecoverySpeed: "Halo de guérison",
        SpeedSharpening: "Affûtage rapide",
        MuckResistance: "Anti-fange",
        PowerProlonger: "Puissance absolue",
        TremorResistance: "Sismologie",
        HellfireCloak: "Cape Feu de l'enfer",
        BubblyDance: "Ébullition",
        PunishingDraw: "Batto-jutsu",
        WallRunner: "Grimpeur",
        GuardUp: "Ultra garde",
        CriticalBoost: "Berserker",
        MindsEye: "Oeil de l'esprit",
        BlastAttack: "Destruction massive",
        MasterMounter: "Maître-cavalier",
        Counterstrike: "Contre-attaque",
        ThunderAttack: "Feu du ciel",
        Artillery: "BOUM !",
        Bombardier: "Bombardier",
        CaptureMaster: "Maître capture",
        Diversion: "Diversion",
        FireResistance: "Ignifuge",
        HornMaestro: "Maestro",
        Ballistics: "Balistique",
        KushalaBlessing: "Bénédiction Kushala",
        ChameleosBlessing: "Bénédiction Cham.",
        TeostraBlessing: "Bénédiction Teostra",
        MastersTouch: "Main de maître",
        RapidFireUp: "Tir super rapide",
        CarvingPro: "Expert en dépeçage",
        Steadiness: "Sniper"
    },
    armors: {
        "Kaiser Crown": "Couronne Kaiser",
        "Kaiser Mail": "Cotte Kaiser",
        "Kaiser Vambraces": "Avant-bras Kaiser"
    }
)